#
# Enter your Group ID - See: cloud.mongodb.com under Settings
# This new property became a requirement in monitoring agent version 6.0.0.
#
mmsGroupId=55414ef5e4b0e6fdf7986f37

#
# Enter an API key - See: cloud.mongodb.com under Deployment -> Agents -> Agent API Keys
#
mmsApiKey=59a441dbc0c6e3047b024694a4cd90888a328abe5810d976c69e4939

#
# Hostname used to contact Cloud Manager application servers.
#
mmsBaseUrl=https://api-agents.mongodb.com

# For additional optional settings, please see
# https://docs.cloud.mongodb.com/reference/monitoring-agent/
